<div id="bootstrap-alert-box-popup" class="modal fade" style="padding-top: 10%;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><p></p></div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
                <a href="#" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-header">
    <a href="" class="pull-right" ng-click="cancel()" ng-disabled="busy"><i class="fa fa-remove"></i></a>
    <h3>Credit Terms</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-6 b-r" ng-show="showPanel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Days</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="credit in creditTermsArr">
                        <td>{{credit.creditTermId}}</td>
                        <td>{{credit.code}}</td>
                        <td>{{credit.days}} days</td>
                        <td>{{credit.description}}</td>
                        <td>
                            <a ng-click="editItem(credit)" class="btn-link pull-left">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button type="button" class="close pull-left" ng-click="removeItem($index, credit.creditTermId)">&times;</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form name="form.creditTermForm" class="bs-example form-horizontal" ng-class="showPanel ?  'col-lg-6' : 'col-lg-12'">
            <div class="form-group">
                <label class="col-lg-3 control-label">Credit Term Code</label>
                <div class="col-lg-9" ng-class="{ 'has-error' : form.creditTermForm.code.$invalid && submitted }">
                    <input type="text" class="form-control" placeholder="Credit Term Code" ng-model="creditTerm.code" name="code" data-ng-required="true">
                    <span class="help-block m-b-none">Code of the credit term (e.g COD)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Duration</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="Duration" ng-model="creditTerm.days">
                    <span class="help-block m-b-none">Days (e.g 90)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Description</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="Description" ng-model="creditTerm.description">
                    <span class="help-block m-b-none">Optional</span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="save()" btn-loading="busy">Save</button>
    <button class="btn btn-default pull-left" ng-click="showPanel = !showPanel; "> <i class="fa" ng-class="{'fa-caret-left':showPanel, 'fa-caret-right':!showPanel}"></i> Manage </button>
</div>