<ng-form name="addressForm" novalidate>
    <div ng-show="!showAddressForm && model.addressList.length !=0">
        <!-- -->
        <ul class="list-group gutter list-group-sp sortable m-b-lg m-t">
            <li class="list-group-item hover" ng-repeat="address in model.addressList">
                <i class="fa fa-home"></i>
                <a class="btn-link" ng-click="editAddress(address);">({{address.addressType | addressType:addressType}}) Block {{address.blkNo}}, {{address.streetName}}, {{address.unitNo}}, Postal {{address.postalCode}}</a>
                <label class="text-muted" ng-show="address.default"><i>(Default)</i></label>

                <a ng-click="deleteAddress($index)" class="btn-link"><i class="fa fa-times hover-action pull-right" ng-class="address.addressId ? 'text-danger' : ''"></i></a>
                <a ng-click="setDefault(address)" class="btn-link"><i class="fa fa-check hover-action pull-right" ng-class="address.default ? 'text-warning' : 'text-muted'" tooltip="Set as Default" tooltip-append-to-body="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="m-b-lg m-t" ng-show="showAddressForm == true">
        <div class="form-group pull-in clearfix">
            <div class="col-sm-4" ng-class="{ 'has-error' : addressForm.addressType.$invalid && submitted }">
                <label>Type</label>
                <select name="addressType" ng-model="newAddress.addressType" ng-required="showAddressForm" class="form-control input-sm">
                    <option value="">Select</option>
                    <option value="1">Home</option>
                    <option value="2">Office</option>
                    <option value="3">Billing</option>
                    <option value="4">Shipping</option>
                </select>
                <div class="error" ng-show="(addressForm.addressType.$dirty && addressForm.addressType.$invalid) && submitted">
                    <small class="error" ng-show="addressForm.addressType.$error.required">Required</small>
                </div>
            </div>
            <div class="col-sm-4" ng-class="{ 'has-error' : addressForm.blkNo.$invalid && submitted }">
                <label>Block</label>
                <input name="blkNo" type="text" ng-model="newAddress.blkNo" ng-required="showAddressForm" class="form-control input-sm" placeholder="Block" maxlength="10">
            </div>
            <div class="col-sm-4" ng-class="{ 'has-error' : addressForm.unitNo.$invalid && submitted }">
                <label>Unit No.</label>
                <input name="unitNo" type="text" ng-model="newAddress.unitNo" ng-required="showAddressForm" class="form-control input-sm" placeholder="Unit No" maxlength="10">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : addressForm.streetName.$invalid && submitted }">
            <label>Street Name</label>
            <input name="streetName" type="text" ng-model="newAddress.streetName" ng-required="showAddressForm" class="form-control input-sm" placeholder="Street name">
        </div>
        <div class="form-group pull-in clearfix">
            <div class="col-sm-6" ng-class="{ 'has-error' : addressForm.postalCode.$invalid && submitted }">
                <label>Postal Code</label>
                <div class="input-group">
                    <input name="postalCode" type="text" ng-model="newAddress.postalCode" ng-required="showAddressForm" class="form-control input-sm" placeholder="Postal Code" maxlength="10">
                    <span class="input-group-btn" tooltip="Find Address">
                        <button class="btn btn-white input-sm" type="button" ng-click="findAddress(newAddress.postalCode)"><i class="fa fa-globe" ng-class="{'fa-spinner fa-spin' : findingAddress}"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-sm-6" ng-class="{ 'has-error' : addressForm.countries.$invalid && submitted }">
                <label>Country</label>
                <countries-dropdown name="countries" ng-model="newAddress.countryId" ng-required="showAddressForm"></countries-dropdown>
            </div>
        </div>
        <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
                <label>State</label>
                <input type="text" class="form-control input-sm" placeholder="State" ng-model="newAddress.countryState">
            </div>
            <div class="col-sm-6">
                <label>City</label>
                <input type="text" class="form-control input-sm" placeholder="City" ng-model="newAddress.countryCity">
            </div>
        </div>
    </div>
    <footer class="panel-footer bg-light lter text-right clear-fix m-r-n m-t m-l-n m-b-n">
        <button type="button" ng-click="addAddress(); " class="btn btn-info btn-sm" ng-show="mode == 'edit';">{{mode == "edit" ? "Update" : "Add"}}</button>
        <button type="button" class="btn btn-sm" ng-click="showAddressForm = false; mode = ''; newAddress = {};" ng-show="showAddressForm">Cancel</button>
        <button type="button" class="btn btn-info btn-sm" ng-click="showAddressForm = true; mode='edit';" ng-show="!showAddressForm"><i class="fa fa-plus"></i></button>
    </footer>
</ng-form>