<section class="vbox flex">
    <div class="pull-left header">
        <p class="h4">
            <a href="#/delivery-date">Delivery Timing Disable</a>
        </p>
    </div>
    <header class="header bg-light lter bg-gradient b-b" ng-include="'header.html?a=a'"></header>
    <!-- .aside -->
    <div class="bg-white">
        <section class="vbox">
            <header class="header bg-light bg-gradient">
                <ul class="nav nav-tabs nav-white pull-left">
                    <li class="active"><a data-target="#productList" data-toggle="tab">Delivery Timing Disable List</a></li>
                </ul>
                <div class="navbar-btn pull-right">
                    <a href="#/delivery-date/new" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </header>
        </section>
    </div>
    <!-- /.aside -->

    <section class="bg-white">
        <section class="hbox stretch">
            <section class="vbox">
                <div class="scrollable">
                    <section ng-controller="DeliveryDateListCtrl">
                        <div class="tab-content">
                            <div class="tab-pane active" id="productList">
                                <div class="table-responsive">
                                    <table class="table table-striped b-t text-sm" deliverydate-datatable aa-data="deliverydateDatatable">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th>TimeID</th>
                                            <th>Remark</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <footer class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-4 hidden-xs">
                                            <select class="input-sm form-control input-s-sm inline" ng-model="action">
                                                <option value="">Bulk action</option>
                                                <option value="barcode">Generate Barcode</option>
                                            </select>
                                            <button class="btn btn-sm btn-white" ng-click="doAction(action)">Apply</button>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </section>
</section>
