<div class="row padder-v">
    <!--<debug-message>{{user | json}}</debug-message>-->
    <div class="col-sm-12 padder-lg">
        <article class="media padder-v">
            <div class="media-body">
                <a class="h2 text-success">Personal Settings</a>
            </div>
        </article>

        <div class="line-bold pull-in padder-lg"></div>

        <div class="row padder-v">
            <label class="col-sm-4">Contact</label>
            <div class="col-sm-8">
                <div>Full Name</div>
                <div>
                   <input class="input-sm form-control" placeholder="Enter your fullname here...">
                </div>
            </div>
        </div>
        <div class="line padder-lg"></div>

        <div class="row padder">
            <div class="row m-b-lg">
                <label class="col-sm-4">Language</label>
                <div class="col-sm-8 pull-in">
                    <div class="col-sm-12 m-b-sm">Display Language</div>

                    <div class="col-sm-6">
                        <select class="ui-select2" ui-select2 ng-model="check">
                            <option value="">English</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row m-b-lg">
                <label class="col-sm-4"></label>
                <div class="col-sm-8 pull-in">
                    <div class="col-sm-12 m-b-sm">Recognition Language</div>

                    <div class="col-sm-6">
                        <select class="ui-select2" ui-select2 ng-model="fuhu">
                            <option value="">English Only</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="line padder-lg"></div>

        <div class="row padder-v">
            <label class="col-sm-4">Auto-filling</label>
            <div class="col-sm-8">
                <span>
                    <input class="" type="checkbox">
                    <span>Automatically file and tag notes sent in via email.</span>
                </span>
            </div>
        </div>
        <div class="line padder-lg"></div>

        <div class="row padder-v">
            <label class="col-sm-4">Emails</label>
            <div class="col-sm-8">
                <label class="m-b-xs">I am interested in the follow types of email  from Emerge</label>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Emerge news, tips and stories</span>
                </span>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Monthly newsletters</span>
                </span>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Emerge for business</span>
                </span>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Surveys (once every several months)</span>
                </span>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Market</span>
                </span>

                <label class="m-t-lg m-b-xs block">Also email me about other Emerge apps</label>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Skitch</span>
                </span>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Emerge Clearly</span>
                </span>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Emerge Hello</span>
                </span>
                <span class="block">
                    <input class="" type="checkbox">
                    <span>Penulimate</span>
                </span>
            </div>
        </div>
        <div class="line padder-lg"></div>

        <div class="row padder-v">
            <label class="col-sm-4"></label>
            <div class="col-sm-8">
                <span class="m-t-sm">
                    <a class="btn btn-success m-r-sm">Save Changes</a>
                    <a class="btn btn-danger">Cancel</a>
                </span>
            </div>
        </div>

    </div>
</div>