<div class="row">
    <pre>{{stock}}</pre>
    <div class="col-sm-12">
        <portlet>
            <portlet-item title="Information">
                <div>
                    <div class="row" class="pull-in clearfix">
                        <div class="form-group col-sm-6">
                            <label>Stock Take Name</label>
                            <input type="text" class="form-control input-sm" ng-model="stock.stockTakeName" placeholder="Stock Take Name">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Warehouses</label>
                            <warehouses-dropdown name="warehouse" ng-required="true" ng-model="stock.warehouseId"></warehouses-dropdown>
                        </div>
                        
                    </div>
                    <div class="row" class="pull-in clearfix">
                        <div class="col-sm-6" ng-class="{ 'has-error' : myForm.startDate.$invalid && submitted }">
                            <label class="control-label">Start date </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input date-picker type="text" ng-required="true" class="form-control input-sm" name="startDate" placeholder="Date" ng-model="stock.startDate">
                            </div>
                            <div class="error" ng-show="(myForm.startDate.$dirty && myForm.startDate.$invalid) || submitted">
                                <small class="error" ng-show="myForm.startDate.$error.required">Please select a start date</small>
                            </div>

                        </div>
                        <div class="col-sm-6" ng-class="{ 'has-error' : myForm.endDate.$invalid && submitted }">
                            <label class="control-label">End date </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input date-picker type="text" ng-required="true" class="form-control input-sm" name="endDate" placeholder="Date" ng-model="stock.endDate">
                            </div>
                            <div class="error" ng-show="(myForm.endDate.$dirty && myForm.endDate.$invalid) || submitted">
                                <small class="error" ng-show="myForm.endDate.$error.required">Please select an end date</small>
                            </div>
                        </div>
                    </div>
                    
                    <footer class="panel-footer pos-rlt pull-in">
                        <span class="arrow top"></span>
                        <label>Description</label>

                        <div class="pull-out">
                            <textarea class="form-control no-border input-lg text-sm" type="text" placeholder="Write a Description" rows="6" ng-model="stock.description"></textarea>
                        </div>
                    </footer>
                </div>
            </portlet-item>
        </portlet>
    </div>
    <!-- <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <span class="h5">Options</span>
            </header>
            <div class="panel-body">
                <div class="form-group pull-in clearfix">
                    <div class="col-sm-6" ng-class="{ true: 'has-error' }[ myForm.currency.$invalid && submitted ]">
                        <label>Warehouse</label>
                        <warehousesections-dropdown name="warehouse" ng-required="true" ng-model="inventoryAcquisition.warehouseSectionId"></warehousesections-dropdown>

                        <div class="error" ng-show="(myForm.currency.$dirty && myForm.currency.$invalid) || submitted">
                            <small class="error" ng-show="myForm.currency.$error.required">Please select a Currency</small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <div class="input-group m-b">
                        <span class="input-group-addon">#</span>
                        <input ui-select2="select2Tags" type="text" ng-model="stock.tags" placeholder="Insert tags" class="ui-select2" />
                    </div>
                </div>
            </div>
        </section>
    </div> -->
</div>

<section class="panel">
    <form method="post" name="itemsForm" novalidate>
        <header class="header panel-heading font-bold">
            <p>Stocks</p>
        </header>
        <div class="panel-body table-responsive">
            <div class="pos_relative">
                <stocktakes-grid items="stocks" cols="columnDefs" ng-model="selectedStocks" selected-items="selectedItems" custom-options="gridOptions"></stocktakes-grid>
            </div>
            <!-- <table class="table table-condensed text-sm m-b-none" ng-form="itemForm">
                <thead>
                    <tr>
                        <th class="col-sm-1">#</th>
                        <th class="col-sm-2">Product Name</th>
                        <th class="col-sm-1">In hand Qty</th>
                        <th class="col-sm-1">Actual Qty</th>
                        <th class="col-sm-3">Warehouse</th>
                        <th class="col-sm-3">Remarks</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in stockList" ng-init="innerIndex = $index" ng-class="{'alert-warning' : item.checked}">
                        <td>{{$index+1}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            {{item.productInventory.qtyInStock}}
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="item.inHandQty" ng-change="updateStockItem($index,item)">
                        </td>
                        <td>
                            <warehousesections-dropdown name="warehouse" ng-required="true" ng-model="item.warehouseSectionId" ng-change="updateStockItem($index,item)"></warehousesections-dropdown>
                        </td>
                        <td ng-class="{ 'has-error' : myForm.description.$invalid && submitted }">
                            <textarea class="form-control" ng-required="item.inHandQty > item.productInventory.qtyInStock" ng-model="item.description" ng-change="updateStockItem($index,item)" name="description"></textarea>
                            <div class="error" ng-show="(myForm.description.$dirty && myForm.description.$invalid) || submitted">
                                <small class="error" ng-show="myForm.description.$error.required">Please enter description</small>
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="checked" ng-click="selectStockItem(item); $event.stopPropagation();" />
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </form>
</section>