<section class="vbox flex" ng-controller="LoyaltyPointsEditCtrl">
    <div class="pull-left header">
        <p class="h4">
            <a href="#/loyaltypoints">Loyalty Points</a>
        </p>
    </div>

    <header class="header bg-light lter bg-gradient b-b" ng-include="'header.html?a=a'"></header>

    <section class="bg-light lter scrollable">
        <section class="hbox stretch">
            <!-- .aside -->
            <aside>
                <section class="vbox">
                    <header class="header bg-light bg-gradient">
                        <ul class="nav nav-tabs pull-left">
                            <li class="dker">
                                <a data-target="#sidebar" class="btn btn-sm btn-default" data-toggle="class:hide">
                                    <i class="fa fa-chevron-left text"></i>
                                    <i class="fa fa-chevron-right text-active"></i>
                                </a>
                            </li>
                            <li class="lter"><a data-target="#list" data-toggle="tab">Loyalty Point</a></li>
                        </ul>
                    </header>
                    <section class="scrollable wrapper">
                        <div class="tab-content slim-scroll">
                            <div class="tab-pane active" id="list">
                                <section class="tab-pane" id="validation">
                                    <!-- Edit Form -->
                                    <div class="row">
                                        <form name="loyaltyForm">
                                            <section class="col-sm-7">
                                                <portlet>
                                                    <portlet-item title="Information">
                                                        <div>
                                                            <div class="form-group pull-in clearfix">
                                                                <div class="col-sm-6" ng-class="{ 'has-error' : loyaltyForm.point.$invalid && submitted}">
                                                                    <label>Loyalty Point per $1</label>
                                                                    <input type="number" class="form-control input-sm" data-ng-required="true" name="point" data-ng-model="loyaltypointsObj.point"/>
                                                                    <div class="error" data-ng-show="(loyaltyForm.point.$dirty && loyaltyForm.point.$invalid) || submitted">
                                                                        <small class="error" data-ng-show="loyaltyForm.point.$error.required" >Required</small>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="line line-dashed line-lg pull-in"></div>
                                                            

                                                            <div class="form-group pull-in clearfix">
                                                                <div class="col-sm-6" ng-class="{ 'has-error' : loyaltyForm.fromDate.$invalid && submitted }">
                                                                    <label>Valid From</label>
                                                                    <input class="form-control" type="text" placeholder="Valid From" data-ng-required="true" name="fromDate" data-ng-model="loyaltypointsObj.fromDate" date-picker >
                                                                    <div class="error" data-ng-show="(loyaltyForm.fromDate.$dirty && loyaltyForm.fromDate.$invalid) || submitted">
                                                                        <small class="error" data-ng-show="loyaltyForm.fromDate.$error.required">Required</small>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6" ng-class="{ 'has-error' : loyaltyForm.toDate.$invalid && submitted }">
                                                                    <label>Valid Until</label>
                                                                    <input class="form-control" type="text" placeholder="Valid Until" data-ng-required="true" name="toDate" data-ng-model="loyaltypointsObj.toDate" date-picker >
                                                                    <div class="error" data-ng-show="(loyaltyForm.toDate.$dirty && loyaltyForm.toDate.$invalid) || submitted">
                                                                        <small class="error" data-ng-show="loyaltyForm.toDate.$error.required">Required</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="line line-dashed line-lg pull-in"></div>
                                                            
                                                        </div>
                                                    </portlet-item>
                                                </portlet>
                                            </section>

                                        </form>
                                    </div>

                                    <!-- //Edit Form -->
                                </section>
                            </div>
                        </div>
                    </section>

                </section>
            </aside>
            <!-- /.aside -->
        </section>
    </section>


    <footer class="footer text-right bg-light lter b-t">
        <button type="submit" class="btn btn-success btn-s-xs" ng-click="saveLoyaltyPoint()" btn-loading="busy" data-loading-text="Saving...">Save</button>
    </footer>
</section>
