<section class="vbox flex" ng-controller="ProductEditCtrl">
    <div class="pull-left header">
        <p class="h4">Products</p>
    </div>

    <header ng-include="'header.html?a=a'" class="header bg-light lter bg-gradient b-b"></header>

    <section class="bg-light lter scrollable">
        <section class="hbox stretch">
            <aside class="aside-lg bg-light lter b-r main-aside" ng-hide="product.productId == undefined" id="sidebar">
                <section class="vbox bg-white" ng-include="'PRD/Products/product.aside.html?a=a'"></section>
            </aside>
            <!-- .aside -->
            <aside>
                <section class="vbox">
                    <header class="header bg-light bg-gradient">
                        <ul class="nav nav-tabs pull-left">
                            <li class="dker">
                                <a data-target="#sidebar" class="btn btn-sm btn-default" data-toggle="class:hide">
                                    <i class="fa fa-chevron-left text"></i>
                                    <i class="fa fa-chevron-right text-active"></i>
                                </a>
                            </li>
                            <li class="lter"><a data-target="#list" data-toggle="tab">Products</a></li>
                            <!--<li><a data-target="#category" data-toggle="tab">Category</a></li>
                            <li><a data-target="#media" data-toggle="tab">Media</a></li>-->
                            <!--<li><a data-target="#review" data-toggle="tab">Reviews</a></li>-->
                            <!--<li class=""><a data-target="#note" data-toggle="tab">Note</a></li>
                            <li class=""><a data-target="#task" data-toggle="tab">Task</a></li>
                            <li class=""><a data-target="#" data-toggle="tab">Documents</a></li>-->
                        </ul>
                        <div class="navbar-btn pull-right">
                            <div class="btn-group m-r ">
                              <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">
                                <span class="dropdown-label">Add New Product</span> 
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-select">
                                  <li class="active"><a href="#/ingredients/new"><input type="radio" name="d-s-r" checked="">Add New Ingredients</a></li>
                                  <li><a href="#/dishes/new"><input type="radio" name="d-s-r">Add New Dishes</a></li>
                                  <li><a href="#/packages/new"><input type="radio" name="d-s-r">Add New Packages</a></li>
                                  <li><a href="#/accessories/new"><input type="radio" name="d-s-r">Add New Accessories</a></li>
                              </ul>
                              <button class="btn btn-white" tooltip data-title="Refresh" data-placement="bottom" data-toggle="tooltip" data-original-title="Refresh" ng-click="reload();">
                                <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                    </header>

                    <section class="scrollable wrapper">
                        <div class="tab-content slim-scroll">
                            <div class="tab-pane active" id="list">
                                <section class="tab-pane" id="validation">
                                    <section ng-include="'PRD/Products/ProductEdit/Dishes/dishEditForm.html?a=a'"></section>
                                </section>
                            </div>

                            <div class="tab-pane" id="media" ng-controller="MediaListCtrl">
                                <section ng-include="'PRD/Products/ProductEdit/productMediaList.partial.html'"></section>
                            </div>
                            <!--<div class="tab-pane" id="review" ng-controller="ReviewListCtrl">
                                <section ng-include="'PRD/Products/ProductDetail/productReviewList.partial.html'"></section>
                            </div>-->

                           <!--  <div class="tab-pane" id="category" ng-controller="CategoryListCtrl">
                                <section ng-include="'PRD/Products/ProductEdit/productCategoryList.partial.html'"></section>
                            </div> -->
                        </div>
                    </section>

                </section>
            </aside>
            <!-- /.aside -->
        </section>
    </section>

    <footer class="footer text-right bg-light lter b-t">
        <button type="submit" class="btn btn-success btn-s-xs" data-loading-text="Saving..." ng-click="saveProduct(3)" ng-disabled="busy">Save</button>
    </footer>
</section>