<section class="vbox flex" ng-controller="NotificationEditCtrl">
    <div class="pull-left header">
        <p class="h4">
            <a href="#/notification">Notifications</a>
        </p>
    </div>

    <header class="header bg-light lter bg-gradient b-b" ng-include="'header.html?a=a'"></header>

    <section class="bg-light lter scrollable">
        <section class="hbox stretch">
            <!-- .aside -->
            <aside>
                <section class="vbox">
                    <header class="header bg-light bg-gradient">
                        <ul class="nav nav-tabs pull-left">
                            <li class="lter"><a data-target="#list" data-toggle="tab">Notification</a></li>
                        </ul>
                        <div class="navbar-btn pull-right">
                            <a href="#/notification/new" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </a>
                            <button class="btn btn-white" tooltip data-title="Refresh" data-placement="bottom" data-toggle="tooltip" data-original-title="Refresh" ng-click="reload();">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </header>
                    <section class="scrollable wrapper">
                        <div class="tab-content slim-scroll">
                            <div class="tab-pane active" id="list">
                                <section class="tab-pane" id="validation">
                                    <!-- Edit Form -->
                                    <div class="row">
                                        <form name="myForm">
                                            <section class="col-sm-8">
                                                <portlet>
                                                    <portlet-item title="Information">
                                                        <div>

                                                            <div class="form-group col-sm-12 pull-in">
                                                                <div class="form-group col-sm-6 pull-in">
                                                                    <label>Recipients</label>
                                                                    <product-users-dropdown data-ng-disabled="!checkEdit" name="dropdownUser" ng-model="selectedUser" ng-change="updateSelectedUserList(selectedUser)"></product-users-dropdown>
                                                                </div>
                                                                <div class="col-sm-6 form-group" data-ng-hide="selectedUserList.length > 0 && selectedUserList != null">
                                                                    <span data-ng-show="submitted" class="">
                                                                        <label>There is no recipient.</label>
                                                                        <label>Please choose on left list!</label>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-6 form-group" data-ng-show="selectedUserList.length > 0 && selectedUserList != null">
                                                                    <label>List of Recipients</label>
                                                                    <div class="pillbox clearfix">
                                                                        <ul>
                                                                            <li class="label bg-info" data-ng-repeat="s in selectedUserList" ng-click="removeUsers($index)">{{s.name}}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="line line-dashed line-lg pull-in col-sm-12"></div>

                                                            <div class="form-group pull-in col-sm-12 clearfix">
                                                                <div class="col-sm-6 pull-in" data-ng-class="{'has-error' : myForm.subject.$invalid && submitted }">
                                                                    <label>Subject</label>
                                                                    <input type="text" name="subject" placeholder="Enter subject..." data-ng-model="notification.subject" class="form-control input-sm" data-ng-required="true" />
                                                                    <div class="error" data-ng-show="(myForm.subject.$dirty && myForm.subject.$invalid) || submitted">
                                                                        <small class="error" data-ng-show="myForm.subject.$error.required">Required</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="line line-dashed line-lg pull-in"></div>

                                                            <div class="form-group" data-ng-class="{'has-error' : myForm.message.$invalid && submitted }">
                                                                <label>Message</label>
                                                                <textarea name="message" class="form-control" data-ng-required="true" data-ng-model="notification.message" placeholder="Enter message..."></textarea>
                                                                <div class="error" data-ng-show="(myForm.message.$dirty && myForm.message.$invalid) || submitted">
                                                                    <small class="error" data-ng-show="myForm.message.$error.required">Required</small>
                                                                </div>
                                                            </div>

                                                            <div class="line line-dashed line-lg pull-in"></div>
                                                            <div class="form-group" data-ng-class="{'has-error' : myForm.urlLink.$invalid && submitted }">
                                                                <label>Link</label>
                                                                <input type="url" name="urlLink" data-ng-model="notification.link" class="form-control input-sm"  placeholder="Enter link...">
                                                                <div class="error" data-ng-show="(myForm.urlLink.$dirty && myForm.urlLink.$invalid) || submitted">
                                                                    <small class="error" data-ng-show="myForm.urlLink.$error.url">Not Valid URL!</small>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </portlet-item>
                                                </portlet>
                                            </section>

                                        </form>
                                    </div>

                                    <!-- //Edit Form -->
                                </section>
                            </div>
                        </div>
                    </section>

                </section>
            </aside>
            <!-- /.aside -->
        </section>
    </section>


    <footer class="footer text-right bg-light lter b-t">
        <button type="submit" class="btn btn-success btn-s-xs" ng-click="save(notification)" btn-loading="busy" data-loading-text="Saving...">Save</button>
    </footer>
</section>
