<section class="vbox flex" ng-controller="UserEditCtrl">
    <div class="pull-left header">
        <p class="h4">Users</p>
    </div>

    <header ng-include="'header.html?a=a'" class="header bg-light lter b-b"></header>

    <section class="bg-light lter scrollable">
        <section class="hbox stretch">
            <aside class="aside-lg bg-light lter b-r main-aside" ng-hide="user.employeeId == undefined" id="sidebar">
                <section class="vbox bg-white" ng-include="'HRM/Employees/employee.aside.html?a=a'"></section>
            </aside>
            <!-- .aside -->
            <aside>
                <section class="vbox">
                    <header class="header bg-light bg-gradient">
                        <ul class="nav nav-tabs pull-left">
                            <li class="dker">
                                <a data-target="#sidebar" class="btn btn-sm btn-default" data-toggle="class:hide">
                                    <i class="fa fa-chevron-left text"></i>
                                    <i class="fa fa-chevron-right text-active"></i>
                                </a>
                            </li>
                            <li class="active"><a data-target="#list" data-toggle="tab">User</a></li>
                            <li><a data-target="#roles" data-toggle="tab">Roles</a></li>
                        </ul>

                        <div class="navbar-btn pull-right">
                            <a href="#/users/new" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </a>
                            <button class="btn btn-white" tooltip data-title="Refresh" data-placement="bottom" data-toggle="tooltip" data-original-title="Refresh" ng-click="reload();">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </header>
                    <section class="scrollable wrapper">
                        <div class="tab-content">
                            <div class="tab-pane active" id="list">
                                <form name="userForm" novalidate data-validate="parsley">
                                    <section ng-include="'USR/Users/UserEdit/userEditForm.html?a=a'"></section>
                                </form>
                            </div>

                            <div class="tab-pane" id="roles">
                                <form name="userRolesForm" novalidate data-validate="parsley">
                                    <section ng-include="'USR/Users/UserEdit/userRolesEditForm.html?a=a'"></section>
                                </form>
                            </div>
                        </div>
                    </section>

                </section>
            </aside>
            <!-- /.aside -->
        </section>
    </section>
    <footer class="footer text-right bg-light lter b-t">
        <button type="submit" class="btn btn-success btn-s-xs" ng-click="saveUser(user)" btn-loading="busy" data-loading-text="Saving...">Save</button>
    </footer>
</section>